<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Guía Tigo</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <!-- <link href="assets/css/materialdesignicons.min.css" rel="stylesheet"> -->
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="assets/css/vuetify.min.css" rel="stylesheet">
  <link href="assets/css/site.css" rel="stylesheet">
  <link rel="shortcut icon" href="assets/img/favcir.ico" type="image/vnd.microsoft.icon">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <template>
    <v-app id="app">
      <!-- Menú lateral -->
      <!-- <menu-lateral></menu-lateral> -->
      <v-navigation-drawer v-model="drawer" app >
        <v-list dense>
          <v-list-item-group v-model="item" color="primary">
            <div v-for="(item, i) in items" :key="i" >
              <v-list-item link v-bind:href="item.link">
                <v-list-item-action>
                  <v-icon v-text="item.icon"></v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
            </div>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
      <!-- End Menú lateral -->
      <!-- Barra superior -->
      <v-app-bar app color="#01579B" dark >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>Mi Guía de canales</v-toolbar-title>
      </v-app-bar>
      <!-- End Barra superior -->
      <!-- Contenedor principal -->
      <v-main>
        <v-container class="fill-height" fluid >
          <v-row align="center" justify="center" >
            <v-col class="text-center">
              <v-card>
                <v-card-title> Listado de canales
                  <v-spacer></v-spacer>
                  <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                </v-card-title>
              <v-data-table :headers="headers" :items="channels" :items-per-page="20" class="elevation-1" :search="search">
                <!--  -->
              </v-data-table>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    <!-- End Contenedor principal -->
    <v-footer color="#01579B" app>
      <span class="float-left white--text">&copy; {{ new Date().getFullYear() }}</span>
      <span class="float-right white--text"> Developed By: Ing. Manuel Caicedo</span>
    </v-footer>
    </v-app>
    </template>
  </div>
</body>
<footer>
  <script src="assets/js/vue.js"></script>
  <script src="assets/js/vuetify.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/data.js"></script>
  <script src="components/menu.vue.js"></script>
  <script>
    //import menulateral from './components/menu';
    //import menulateral from './components/menu.vue';
    //Vue.component('menulateral', menulateral);
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      /* components: {
        'menu-lateral': {
          props: {
            drawer: ''
          }
        },
      }, */
      props: {
        source: '',
        drawer: '',
      },
      data() {
        return {
          activemenu: true,
          search: '',
          headers: headers,
          channels: channels,
          item: 0,
          items: [{
            text: 'Inicio',
            icon: 'mdi-home',
            link: '',
            disabled: true,
          }, {
            text: 'Canales SD',
            icon: 'mdi-television-classic',
            link: 'sd',
            disabled: false,
          }, {
            text: 'Canales HD',
            icon: 'mdi-television',
            link: 'hd',
            disabled: false,
          }, {
            text: 'Canales de Audio',
            link: 'audio',
            icon: 'mdi-music',
            disabled: false,
          }, {
            text: 'Canales Premium',
            link: 'premium',
            icon: 'mdi-star',
            disabled: false,
          }, ]
        }
      },
      methods: {},
    })
  </script>
</footer>

</html>